
body {
    margin: 30px;
    background-color: #242424;
    color: #FFFFFF;
    /*display: grid;*/
    /*place-items: center;*/
    /*text-align: center;*/
}

canvas { display: block; }

.square {
    width: 25px;
    height: 25px;
    background-color: #9e20b2;
    /*border: 1px solid #333;*/
    /*border-radius: 4px;*/
}
.docs-demo-html .row {
    position: relative;
    z-index: 2;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 100%;
    height: 1.5rem;
    padding: 1px 0;
}

.docs-demo-html .small.row {
    height: 1.5rem;
    margin-top: .125rem;
    margin-bottom: .125rem;
}

.docs-demo-html justified.row {
    justify-content: space-between;
}

.countdown{
    /*display: flex;*/
}

div {
    unicode-bidi: isolate;
}

.grid-container{
    position: relative;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grid-container .element{
    position: relative;
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 50%;
    scale: .35;
}

/*splash screen*/
#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1A1A1A; /* Customize background color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensures it's on top of all other content */
    transition: opacity 1s ease-out; /* Adds a fade effect */
}

#splash-screen.hidden {
    opacity: 0;
    pointer-events: none; /* Allows clicks to go through once hidden */
}

.btn-custom-cullar {
    background-color: #FF875B ; /* Your desired color */
    border-color: #9F2B68;
    color: #fff; /* Ensure text color is readable */
}

.btn-custom-cullar:hover,
.btn-custom-cullar:focus,
.btn-custom-cullar:active,
.btn-custom-cullar.active {
    background-color: #FF875B; /* Darker color for hover/active states */
    border-color: #9F2B68;
    color: #fff;
}

.custom-card{
    background-color: #FF875B ; /* Your desired color */
    /*border-color: #9F2B68;*/
    /*color: #fff; !* Ensure text color is readable *!*/
}

.custom-card-body {
    background-color: #FF875B ; /* Your desired color */
}